Bienvenido a puntos y cajas
<!DOCTYPE html>
<html>
<head>
    <title>Puntos y Cajas</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <script src="main.js" defer></script>
</head>
<body>
<h1>Ingresa tus coordenadas</h1>
<form action = '/jugada' method = 'post'>
 <p>Coordenadas primer punto entre 1-5</p>
    <input type='number' name='punto1PosX' id='posX' min='0' max='4'>
    <input type='number' name='punto1PosY' id='posY' min='0' max='4'>
    <p>Coordenadas segundo punto entre 1-5</p>
    <input type='number' name='punto2PosX' id='posX2' min='0' max='4'>
    <input type='number' name='punto2PosY' id='posY2' min='0' max='4'>
</form>
</body>
</html>