Bienvenido a puntos y cajas
<!DOCTYPE html>
<html>
    <head>
        <title>Puntos y Cajas</title>
        <link rel="stylesheet" type="text/css" href = "styles.css" />
        <script src="main.js" defer></script>
    </head>
    <body>
        <h1>Ingresa tus coordenadas</h1>
        <form action = '/partidaJugando1' method = 'post'>
            <p>Coordenadas primer punto entre 1-5</p>
            <input type='number' name='punto1PosX' id='posX' min='0' max='4'>
            <input type='number' name='punto1PosY' id='posY' min='0' max='4'>
            <p>Coordenadas segundo punto entre 1-5</p>
            <input type='number' name='punto2PosX' id='posX2' min='0' max='4'>
            <input type='number' name='punto2PosY' id='posY2' min='0' max='4'>

            <input type = "hidden" value = "<% @tablero%>" name = "tablero">

            <input type = "submit" value = "Realizar jugada">
        </form>
        <table id = "tablero-juego">
            <%for i in 0..@tam-1 %>
                <tr>
                    <td class = "size-64md">
                        <%for j in 0..@tam-1 %>
                            .
                            <% if(i != 0) %>
                                <% if(@columnas[i-1][j]) %>
                                    <span class = "azul">|</span>
                                <%else%>
                                    <span class = "apagado">|</span>
                                <% end %>
                            <% end %>
                            <% if(i == 0) %>
                                <span class = "apagado">&nbsp</span>
                            <% end %>
                            
                            <% if(j != @tam - 1) %>
                                <% if(@filas[i][j]) %>
                                    <span class = "azul">_</span>
                                <%else%>
                                    <span class = "apagado">_</span>
                                <% end %>
                            <% end %>
                            
                            
                        <% end %>
                    </td>
                    
                </tr>
            <% end %>
            
        </table>

        
    </body>
</html>