<!DOCTYPE html>
<html>
<head>
    <title>Grid</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <script src="main.js" defer></script>
</head>
<body>
<p>This is a grid of dots</p>
<div class="container" id = "board-container">
  <canvas id="dotCanvas" width="410" height="410"></canvas>
</div>

</body>
</html>