<!DOCTYPE html>
<html>
    <head>
        <title>Puntos y Cajas</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href = "styles.css" />
        <script src="main.js" defer></script>
    </head>
    <body>
        <h1>Ingresa tus coordenadas</h1>
        <div class="form-group">
            <form action = '/partidaJugando1' method = 'post'>
                <p>Elije la caja cuya linea desees llenar</p>
                <span>Número de Caja</span>
                <input id='numCaja' type='number' name='numeroCaja'  min='0' max='9'>
                <p>Linea</p>
                <select id="direccionLinea" name="direccionLinea" selected="arriba">
                <option value="arriba">arriba</option>
                <option value="abajo">abajo</option>
                <option value="izquierda">izquierda</option>
                <option value="derecha">derecha</option>
                </select>
                <input type = "hidden" value = "<% @tablero%>" name = "tablero">
                <input type = "submit" value = "Realizar jugada" id="realizarJugada">
            </form>
        </div>
        <table id = "tablero-juego">
            <%for i in 0..@tam-1 %>
                <tr>
                    <td class = "size-64md">
                        <%for j in 0..@tam-1 %>
                            .
                            <% if(i != 0) %>
                                <% if(@columnas[i-1][j]) %>
                                    <span class = "azul">|</span>
                                <%else%>
                                    <span class = "apagado">|</span>
                                <% end %>
                            <% end %>
                            <% if(i == 0) %>
                                <span class = "apagado">&nbsp</span>
                            <% end %>
                            
                            <% if(j != @tam - 1) %>
                                <% if(@filas[i][j]) %>
                                    <span class = "azul">_</span>
                                <%else%>
                                    <span class = "apagado">_</span>
                                <% end %>
                            <% end %>
                            
                            
                        <% end %>
                    </td>
                    
                </tr>
            <% end %>
            
        </table>

        
    </body>
</html>