<!DOCTYPE html>
<html>
<head>
    <title>Grid</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <script src="main.js" defer></script>
</head>
<body>
<h1>Tablero puntos y cajas</h1>
<div class="container" id = "board-container">
  <canvas id="dotCanvas" width="410" height="410"></canvas>
</div>

<div class="inputContainer">
    <p>Coordenadas primer punto entre 1-5</p>
    <input type='number' name='punto1PosX' id='posX' min='1' max='5'>
    <input type='number' name='punto1PosX' id='posY' min='1' max='5'>
    <p>Coordenadas segundo punto entre 1-5</p>
    <input type='number' name='punto1PosX' id='posX2' min='1' max='5'>
    <input type='number' name='punto1PosX' id='posY2' min='1' max='5'>
    </br></br>
    <button id="dibujar">Dibujar</button>
</div>
</body>
</html>